
/go-vncdriver/*
/gym/*
/universe/*
/keras-rl/*
/models/*
/pydata_okinawa2017/*
/workspace/coursera/machine-learning-ex1/*
/workspace/classify_image/images/*
/workspace/custom_classify_image/images/*
/workspace/custom_classify_image/models/*
/workspace/custom_classify_image/*.txt
/workspace/datasets/cifar-10-batches-bin/*
/workspace/datasets/cifar-10-binary.tar.gz
/workspace/datasets/images/*
/workspace/ml_1b/workspace/output/*
/workspace/ml_1b/workspace/data/*
/workspace/mnist/MNIST_data/*

**/__pycache__/*

*.pyc
.DS_Store
