
/go-vncdriver/*
/gym/*
/universe/*
/keras-rl/*
/tensorflow/*
/models/*
/pydata_okinawa2017/*
/workspace/.ipynb_checkpoints/*
/workspace/classify_image/images/*
/workspace/custom_classify_image/images/*
/workspace/custom_classify_image/models/*
/workspace/custom_classify_image/*.txt
/workspace/datasets/image-collector/images/*
/workspace/datasets/imagenet/cifar-10-batches-bin/*
/workspace/datasets/imagenet/cifar-10-binary.tar.gz
/workspace/datasets/imagenet/images/*
/workspace/datasets/translator/imagenet_synset_to_human_label_map.txt
/workspace/datasets/translator/dest.txt
/workspace/ml_1b/workspace/output/*
/workspace/ml_1b/workspace/data/*
/workspace/mnist/MNIST_data/*

token.mat

**/__pycache__/*

*.pyc
.DS_Store
